{% extends "base.html" %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'reg_auf/css/forms.css' %}">
{% endblock %}

{% block content %}
  <h1 style="text-align: center;">Профиль</h1>
  <form method="post" action="" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'change-password' %}">Сменить пароль?</a><br><br>
    <button type="submit">Сохранить</button>
  </form>

{% endblock %}
{% block section %}

{%endblock%}

{% block include_footer %}

{%endblock%}

