{% extends "base.html" %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'cards/css/style.css' %}">
{% endblock %}

{% block title %}
    Мои карты
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Ваши карты</h2>
        
         {% if cards %}
        <table class="card-table">
            <thead>
                <tr>
                    <th>Номер счета</th>
                    <th>Номер карты</th>
                    <th>Дата окончания</th>
                    <th>CVV</th>
                    <th>Баланс</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>{{ card.linked_account.account_number }}</td>
                        <td class="column">{{ card.number }}</td>
                        <td>{{ card.expiry_date|date:"d F Y" }}</td>
                        <td>{{ card.cvv }}</td>
                        <td>{{ card.linked_account.balance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет карточек.</p>
    {% endif %}
    </div>
{% endblock %}