{% extends "base.html" %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'cards/css/style.css' %}">
{% endblock %}
{% block title %}

{% endblock %}

{% block content%}

<div class="container">
    <h2>Оформление дебетовой карты</h2>
    <form method="post" action="{% url 'order_card_debit' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="orderButton">Оформить карту</button>
    </form>
</div>
<script src="{% static 'cards/js/script.js' %}"></script>
{% endblock %}

