<!-- apply_deposit.html -->
{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'credit/css/style.css' %}">
<!--<script src="{% static 'credit/js/credit_script.js' %}"></script>-->
{% endblock %}

{% block content %}
<h2>Оформление кредита</h2>
<div class="container">

    <!-- apply_deposit.html -->
<form method="post" action="{% url 'apply_credit' %}">
    {% csrf_token %}
    {% for offer in offers %}
        <div class="offer">
<!--            <input type="hidden" name="offer_id" value="{{ offer.id }}">-->
            <h3>{{ offer.name }}</h3>
            <p>Сумма: {{ offer.amount }}</p>
            <p>Процентная ставка: от {{ offer.interest_rate }}%</p>
            <p>Срок до {{ offer.term_years }} лет</p>
            <button type="submit" name="offer_id" value="{{ offer.id }}">Оформить</button>
        </div>
    <br>
    {% endfor %}
</form>


</div>
{% endblock %}
