<nav class="centered-nav">
    <ul>
        <li><a href="{% url 'order_card'%}">Карты</a></li>
        <li><a href="#loans">Кредиты</a></li>
        <li><a href="#deposits">Вклады</a></li>
        <li><a href="#online-bank">Онлайн-банк</a></li>
        <li><a href="#insurance">Страхование</a></li>
        <li><a href="#investments">Инвестиции</a></li>
        <li><a href="#contact">Контакты</a></li>

        {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">{{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- Пункты меню для авторизованных пользователей -->
                <a class="dropdown-item" href="#">Профиль</a>
                <a class="dropdown-item" href="#">...</a>
                <a class="dropdown-item" href="{% url 'my_cards'%}">Мои карты</a>
                <a class="dropdown-item" href="#">Мои счета</a>
                <a class="dropdown-item" href="#">История операций</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            </div>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Вход</a></li>
        {% endif %}
    </ul>
</nav>
