<nav class="centered-nav">
    <ul>

        <li class="highlighted"><a href="{%url 'main'%}">Мой банк</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Карты</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- Пункты меню для авторизованных пользователей -->
                <a class="dropdown-item" href="{% url 'order_card_debit'%}">Дебетовые карты</a>
                <a class="dropdown-item" href="{% url 'order_card_credit'%}">Кредитные карты</a>
                <a class="dropdown-item" href="{% url 'order_account'%}">Оформить счёт</a>
                <a class="dropdown-item" href="{% url 'transfer'%}">Транзакция</a>
            </div>
        </li>
        <li><a href="{% url 'apply_credit'%}">Кредиты</a></li>
        <li><a href="{% url 'apply_deposit'%}">Вклады</a></li>
        <li><a href="#online-bank">Онлайн-банк</a></li>
        <li><a href="#contact">Контакты</a></li>

        {% if request.user.is_authenticated %}
        <li class="dropdown user-menu">
            <a href="#" class="dropdown-toggle ">{{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- Пункты меню для авторизованных пользователей -->
                <a class="dropdown-item" href="{%url 'edit_profile'%}">Профиль</a>
                <a class="dropdown-item" href="{% url 'my_credits'%}">Мои кредиты</a>
                <a class="dropdown-item" href="{% url 'my_cards'%}">Мои карты</a>
                <a class="dropdown-item" href="{% url 'my_accounts'%}">Мои счета</a>
                <a class="dropdown-item" href="{% url 'my_deposits'%}">Мои вклады</a>
                <a class="dropdown-item" href="#">История операций</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            </div>
        </li>
        {% else %}
        <li class="user-menu"><a href="{% url 'login' %}">Вход</a></li>
        {% endif %}
    </ul>
</nav>
